[Unit]
Description=COSMOS SatNOGS interface

[Service]
Type=forking
PIDFile=/run/cosid.pid
ExecStart=/usr/bin/python3 /opt/uniclogs-software/cosi/cosi-runner -p 6h
User=root
Group=root


[Install]
WantedBy=multi-user.target
