[submodule "cosmos"]
	path = cosmos
	url = https://github.com/oresat/uniclogs-cosmos
[submodule "stationd"]
	path = stationd
	url = https://github.com/oresat/uniclogs-stationd
[submodule "pass-calculator"]
	path = pass-calculator
	url = https://github.com/oresat/uniclogs-pass-calculator
[submodule "ultra"]
	path = ultra
	url = git@github.com:oresat/uniclogs-ultra.git
