[submodule "uniclogs-cosmos"]
	path = uniclogs-cosmos
	url = https://github.com/oresat/uniclogs-cosmos
[submodule "uniclogs-pass-calculator"]
	path = uniclogs-pass-calculator
	url = https://github.com/oresat/uniclogs-pass-calculator
[submodule "uniclogs-rads"]
	path = uniclogs-rads
	url = https://github.com/oresat/uniclogs-rads
[submodule "uniclogs-stationd"]
	path = uniclogs-stationd
	url = https://github.com/oresat/uniclogs-stationd
[submodule "uniclogs-ultra"]
	path = uniclogs-ultra
	url = https://github.com/oresat/uniclogs-ultra
[submodule "uniclogs-cossi"]
	path = uniclogs-cossi
	url = https://github.com/oresat/uniclogs-cossi
