[Unit]
Description=UniClOGS Live Telemetry & Request API

[Service]
Type=forking
PIDFile=/run/ultrad.pid
ExecStart=/usr/bin/python3 /opt/uniclogs-software/ultra/ultra-runner -d
User=root
Group=root
